.card-wrapper {
  grid-template-columns: 1fr;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4";
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.875rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 19.625rem;
  height: 15.625;
  background-color: var(--color-white);
  box-shadow: 0px 9px 26px -5px var(--color-shadow);

  & img {
    margin-left: auto;
    padding-right: 2rem;
    padding-bottom: 2.9375rem;
  }
}

.card-title {
  padding: 2rem;

  & h3 {
    font: var(--text-preset-3);
  }

  & p {
    font: var(--text-preset-5);
  }
}

.card-1 {
  grid-area: card1;
  border-top: solid 3px var(--color-cyan);
}

.card-2 {
  grid-area: card2;
  border-top: solid 3px var(--color-red);
}

.card-3 {
  grid-area: card3;
  border-top: solid 3px var(--color-orange);
}

.card-4 {
  grid-area: card4;
  border-top: solid 3px var(--color-blue);
}

@media (width >= 48em) {
  .card-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "card2 card2"
      "card1 card3"
      "card4 card4";
    align-items: center;
    justify-items: center;
  }
}

@media (width >= 80em) {
  .card-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
      "card1 card2 card4"
      "card1 card3 card4";
  }
}
