* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-grey-500: #4d4f62;
  --color-grey-400: #6a7178;
  --color-white: #ffffff;
  --bg-color: #fafafa;
  --color-red: #ea5454;
  --color-cyan: #44d3d2;
  --color-blue: #549ef2;
  --color-orange: #fcae4a;
  --color-shadow: #3c4d61;

  /* Typography presets */
  /* Text Presets (Desktop) */
  --text-preset-1: 600 2.25rem/140% "Poppins", sans-serif;
  --text-preset-2: 200 2.25rem/140% "Poppins", sans-serif;
  --text-preset-3: 600 1.25rem/135% "Poppins", sans-serif;
  --text-preset-4: 400 0.9375rem/140% "Poppins", sans-serif;
  --text-preset-5: 400 0.8125rem/160% "Poppins", sans-serif;

  /* Text Presets (Mobile) */
  --mobile-preset-1: 600 1.5rem/140% "Poppins", sans-serif;
  --mobile-preset-2: 200 1.5rem/140% "Poppins", sans-serif;
  --mobile-preset-4: 400 0.9375rem/140% "Poppins", sans-serif;

  /* Letter-spacing */
  --ls-25: 0.25px;
  --ls-1: 0.1px;
}

body {
  background-color: var(--bg-color);
}

main {
  flex-direction: column;
  align-items: center;
}
